//COLOR PALETTE
$color1: #53abd5;
$color2: #274a75;
$color3: #183159;
$color4: #44759f;
$color5: #34658f;
$color6: #a8d5ef;
$color7: #0f2e52;
$color8: #1c4577;
$color9: #d5dce6;
$color10: #459bd3;

//HEADER
$header-height: 35px;
$header-color1: $color3;
$header-color2: $color10;

//FOOTER
$footer-height: $header-height;