@mixin backgroundGradientLeft2Right($colors...) {
  background-color: $colors;
  background: -webkit-linear-gradient(left, $colors);
  background: -o-linear-gradient(right, $colors);
  background: -moz-linear-gradient(right, $colors);
  background: linear-gradient(to right, $colors);
}

@mixin backgroundGradientLeft2RightWithImage($image, $colors...) {
  background-color: $colors;
  background: -webkit-linear-gradient(left, $colors), $image;
  background: -o-linear-gradient(right, $colors), $image;
  background: -moz-linear-gradient(right, $colors), $image;
  background: linear-gradient(to right, $colors), $image;
  background-blend-mode: screen;
}

@mixin backgroundColorWithImage($image, $color) {
  background-color: $color;
  background-image: $image;
  background-blend-mode: screen;
}

@mixin backgroundColorWithImages($color, $images...){
  background: $images,$color;
  background-blend-mode: screen, normal;
}

@mixin backgroundGradientRadial($color1, $color2) {
  background: $color1; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient($color2, $color1 70%); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient($color2, $color1 70%); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient($color2, $color1 70%); /* For Firefox 3.6 to 15 */
  background: radial-gradient($color2, $color1 70%); /* Standard syntax */
  background-blend-mode: overlay;
}

@mixin displayAsTable{
  display: table;
  text-align: center;
}

@mixin displayAsTableCell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@mixin animationName($name){
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  animation-name: $name;
}
@mixin animationDuration($duration){
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
}
@mixin animationCount($count){
  -webkit-animation-iteration-count: $count;
  -moz-animation-iteration-count: $count;
  -o-animation-iteration-count: $count;
  animation-iteration-count: $count;
}
@mixin animationOrigin($x, $y){
  -webkit-transform-origin:$x $y;
  -moz-transform-origin:$x $y;
  -ms-transform-origin:$x $y;
  -o-transform-origin:$x $y;
  transform-origin:$x $y;
}
@mixin animationPlay($state){
  -webkit-animation-play-state: $state;
  -moz-animation-play-state: $state;
  -o-animation-play-state: $state;
  animation-play-state: $state;
}
@mixin animationDirection($direction){
  -webkit-animation-direction: $direction;
  -moz-animation-direction: $direction;
  -o-animation-direction: $direction;
  animation-direction: $direction;
}
@mixin animationFunction($function){
  -webkit-animation-timing-function: $function;
  -moz-animation-timing-function: $function;
  -o-animation-timing-function: $function;
  animation-timing-function: $function;
}