section.about{
  background-color: rgba($color9, 0.9);
  padding-top: 40px;
  padding-bottom: 20px;
  color: $color2;

  .sci-fi-title{
    color: $color2;
    background: none;
    hr{
      border-color: $color2;
    }
  }

  article{
    header{
      @include displayAsTable;
      height: 80px;
      width: 100%;
      h3{
        @include displayAsTableCell;
      }
    }

    .fa{
      margin-top: 20px;
    }
  }

}