section.contacts {
  background-image: url('src/images/honeycomb.png');
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.35);
  border: 1px solid rgba($color5, 0.15);

  .sci-fi-title{
    background: none;
  }

  .list-group{

    //ANIMATION FA ICON
    @keyframes keyframes-contacts-fa-ring{
      0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      10%{
        -webkit-transform: rotate(-8deg);
        -moz-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
        transform: rotate(-8deg);
      }
      20%{
        -webkit-transform: rotate(8deg);
        -moz-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        -o-transform: rotate(8deg);
        transform: rotate(8deg);
      }
      30%{
        -webkit-transform: rotate(-8deg);
        -moz-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
        transform: rotate(-8deg);
      }
      40%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }

    a.list-group-item{
      background-color: $color9;
      color: $color5;

      .animated{
        @include animationName(keyframes-contacts-fa-ring);
        @include animationDuration(1s);
        @include animationCount(infinite);
        @include animationPlay(paused);
      }
      .left-icon{
        transition: all 0.5s ease-in-out
      }

      &:hover{
        background-color: lighten($color9, 5);
        .fa{
          color: lighten($color5, 10);
        }
        .animated{
          @include animationPlay(running);
        }
        .left-icon{
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }

    div.fa-parent{
      @include displayAsTable;
      width: 100%;
      i.fa{
        @include displayAsTableCell;
        color: $color5;
      }
    }

    hr{
      margin: 0;
      margin-bottom: 5px;
      border-color: $color5;
    }
    p{
      font-size: 0.75em;
    }
  }

}