section.front{
  margin-bottom: 40px;

  @import "front/social-circle";

  @import "front/logo";

  @import "front/cart";

  @import "front/about-frame";

  section.news-blog-logo{

    @media screen and (min-width: $deviceWidth1024){
      position: relative;
      top: 7em;

      .sci-fi-title{
        padding-bottom: 10px;
      }
    }

    article{
      position: relative;
      overflow: hidden;
      height: 30px;

      a{
        position: absolute;
        display: inline-block;
        white-space: nowrap;
      }
    }
  }

  section.contacts-earth{

    article img{
      width: 100%;
      opacity: 0.9;
    }

    @media screen and (min-width: $deviceWidth1024) {
      position: relative;
      top: -50px;
    }
  }

  @media screen and (width: $deviceWidth800) and (height: $deviceHeight600){

    .row-bottom{
      margin-top: 110px;
    }
  }

  @media screen and (width: $deviceWidth1024) and (height: $deviceHeight768){

    .row-bottom{
      margin-top: 200px;
    }
  }

}



