section.front{
  margin-bottom: 40px;

  @import "front/social-circle";

  section.led-lights-logo{
    position: relative;
    margin-top: 100px;

    .logo{
      position: absolute;
      width: 100%;
    }

    .strokes{
      position: absolute;
      top: -50px;
      width: 75%;
    }
  }

  @import "front/cart";

  section.about-frame{

    ul{
      li{
        list-style-type: square;
        text-transform: uppercase;
      }
    }

    @media screen and (min-width: $deviceWidth1024){
      margin-top: 30px;
    }
  }

  section.news-blog-logo{

    @media screen and (min-width: $deviceWidth1024){
      position: absolute;
      bottom: 55px;

      .sci-fi-title{
        padding-bottom: 10px;
      }
    }
  }

  section.contacts-earth{

    article img{
      width: 100%;
      opacity: 0.9;
    }

    @media screen and (min-width: $deviceWidth1024) {
      position: relative;
      top: -70px;
    }
  }
}



